*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

}

.nav a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf4zI7_3ceEf7zPKpMwnbTSOIpVogREC69pitqZh4xw5rGIoJ53Gioe7M&s'); 
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.hero-content p {
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* UNITS SECTION */
.units {
    padding: 20px;
}

.box {
    color: white;
    padding: 10px;
    
}

.box1 {
    background: purple;
    width: 50%;
}

.box2 {
    background: teal;
    height: 40vh;
}
.boss{
    padding: 30px;
    margin: 10px o;
    border: 3px solid black;
    background-color: lightsalmon;
}
.felx{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.item{
    flex: 1;
    background: coral;
    padding: 20px;
   
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 10px;
}
.g{
    background: lightpink;
    padding:  10px 30px;
}
.card{
    display:flex;
    gap:10px;
}
.csrds{
     flex:1;
    background:#f2f2f2;
    padding:20px;
}
.Gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.Gallery img{
    width:150px
}
.btn{
    padding:10px 20px;
}
form{
    display:flex;
    flex-direction:column;
    width:250px;
}

input,textarea{
    margin:6px 0;
    padding:8px;

}
input::placeholder{
    color: blueviolet;
    padding: 0 2px;
    background-color: crimson;
    height: 20px;
    
}

/* =================================
   MEDIA QUERIES
================================= */

/* Tablet */
@media(max-width:900px){

    .grid{
        grid-template-columns:repeat(2,1fr);
    }

    .gallery{
         grid-template-columns:repeat(2,1fr);
    }
}

/* Mobile */
@media(max-width:600px){

    .table{
        display: flex;
        flex-direction: column;
        text-align: center;
      
    }
    .form1{
        display: flex;
        flex-direction: column;
        text-align: center; 

    }
    footer{
        text-align: center;
    }


    .header{
        flex-direction:column;
        text-align:center;
    }


    .nav a {
        color: blueviolet;
        background-color: lightsalmon;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;

        
    }
    nav{
        margin-top: 10px;
        flex-direction: column;
    }

    .flex{
        flex-direction:column;
    }

    .card{
        flex-direction:column;
    }

    .desktop{
        display:none;
    }

    .mobile{
        display:block;
        color:red;
    }


}


