*{
    margin: 0;
    padding: 0;
}
.box1{
    background-color: rgb(196, 205, 205);
    height:500px;
    width: 50%;
    margin-top: 10px;
    position: relative;
    align-items: center;
  
    display: flex;

    /* padding: 100px 3px 8px 12px; */

}
#hello{
    /* padding-top: 100px 200px 300px; */
   background-color: rgb(174, 232, 12);
   color: whitesmoke;
   height: 200px;
   width: 50%;
   margin-bottom: 100px;

}
#hello:hover{
    border: 10px inset black;
   border-radius: 85px/35px; 
   background-color: lightsalmon;

}



#box2{
    height: 150px;
    width: 30px;
    background-color: blue;

}
body{
    height: 100px;
    width: 150px;
    background-color: lightcoral;
}
.card{
    width: 100vw;
}
h1{
    background-color: aqua;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    width: 50%;
    height: 25%;
    background-color: yellow;
    margin: 20px;
    padding: 5px 10px;
    border: 1px solid white;
    box-shadow: 10px 12px 23px rgb(red, green, blue); 
    justify-content: center;
    /* margin-top: 50%; */


}
