
*{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    color: rgb(250, 252, 250);

}
.contact{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: rgb(15, 138, 15);
    padding: 10px;
}
.left{
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    flex-direction: row;
      justify-content: space-between;
}
.icons{
    display: flex;
    background-color: yellow;
    justify-content: center;
    border: inset black;
}
p{
    margin-bottom: auto;
}